<div class="header-row">
  <div class=container>

    <div class=title-box (click)="titleClick.emit()">
      <span>Hanging Challenge</span>
    </div>

    <app-header-nav-logo
      (click)="trainClick.emit()"
      color="lightgreen"
      text="Train">
      <app-ring-logo></app-ring-logo>      
    </app-header-nav-logo>

    <app-header-nav-logo
      (click)="analyzeClick.emit()"
      color="lightblue"
      text="Analyze">
      <app-analyze-logo></app-analyze-logo>      
    </app-header-nav-logo>

    <span class=grow></span>

    <div class=user-info-box>
      <span>{{ userName }}</span>
    </div>

  </div>
</div>
