<app-ready-to-start
  *ngIf="displayReadyToStart$ | async"
  [playbuttonText]="playButtonText$ | async"
  [settings]="settings$ | async"
  (settingsChange)="onSettingsChange($event)"
  (playButtonClick)="onPlayButtonClick()"
  (settingsToDefaultButtonClick)="onSettingsToDefaultButtonClick()">
</app-ready-to-start>

<app-running
  *ngIf="displayRunning$ | async"
  [runningHang]="runningHang$ | async"
  (abordRun)="onAbordRun()">
</app-running>

<app-resting
  *ngIf="displayResting$ | async"
  [runningRest]="runningRest$ | async">
</app-resting>

<app-session-summary
  *ngIf="displaySessionSummary$ | async"
  [session]="session$ | async"> 
</app-session-summary>
