<app-ready-to-start
  *ngIf="isReadyToStart$ | async"
  [playbuttonText]="playButtonText$ | async"
  [settings]="settings$ | async"
  (settingsChange)="onSettingsChange($event)"
  (playButtonClick)="onPlayButtonClick()">
</app-ready-to-start>

<app-running
  *ngIf="isRunning$ | async"
  [maxTime]="maxRunningTime$ | async"
  [currentTime]="currentHangTime$ | async">
</app-running>

<app-resting
  *ngIf="isResting$ | async"
  [currentTime]="currentRestingTime$ | async"
  [restingTime]="restingTime$ | async">
</app-resting>
