<main class="container">

  <app-ready-to-start
    *ngIf="displayReadyToStart$ | async"
    [playbuttonText]="playButtonText$ | async"
    [settings]="settings$ | async"
    (settingsChange)="onSettingsChange($event)"
    (playButtonClick)="onPlayButtonClick()"
    (settingsToDefaultButtonClick)="onSettingsToDefaultButtonClick()">
  </app-ready-to-start>

  <app-resting
    *ngIf="displayResting$ | async"
    [runningRest]="runningRest$ | async">
  </app-resting>

  <app-running
    *ngIf="displayRunning$ | async"
    [runningHang]="runningHang$ | async"
    [disableInteraction]="disableRunning$ | async"
    (finishHangRunButtonClick)="onFinishHangRunButtonClick()">
  </app-running>

  <app-session-summary
    *ngIf="displaySessionSummary$ | async"
    [session]="session$ | async"
    (saveSessionButtonClick)="onSaveSessionButtonClick()"
    (discardSessionButtonClick)="onDiscardSessionButtonClick()"> 
  </app-session-summary>

</main>