<div [class.disabled]="disableInteraction">

  <h3 [class.text-muted]="disableInteraction">Hanging</h3>

  <div *ngIf="runningHang.lastHangTimeInSession" class="last-hang-container">
    <div class="last-time-container">
      <span [ngClass]="{'text-warning':!disableInteraction, 'text-muted': disableInteraction}">Last Hang: {{ runningHang.lastHangTimeInSession }}s</span>
    </div>
    <div class="progress last-time-bar">
      <div class="progress-bar"
        [ngClass]="{ 'bg-warning': !disableInteraction, 'bg-secondary': disableInteraction }"
        [style.width]="lastRunInPercent + '%'" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
      </div>
    </div>
  </div>

  <div class="progress running-bar" [class.no-last-run-margin]="!runningHang.lastHangTimeInSession">
    <div class="progress-bar bg-info" [style.width]="currentInPercent + '%'">{{ runningHang.currentTime }}s</div>
  </div>

  <button type="button" [disabled]="disableInteraction" class="btn btn-success btn-md btn-block" (click)="finishHangRunButtonClick.emit()">Finish Hang: Click Or Press Space</button>

</div>