.running-bar {
  height: 60px;
  margin-bottom: 20px;
}

.last-time-bar {
  height: 3px;
}

.last-time-container {
  display: flex;
  justify-content: flex-end;
}

.last-hang-container {
  margin-bottom: 5px;
}

.grow {
  flex: 1;
}

.no-last-run-margin {
  margin-top: 40px;
}

h3 {
  text-align: center;
}
